[submodule "libs/SQLiteCpp"]
	path = libs/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/openat"]
	path = libs/openat
	url = git://github.com/galeone/openat
